body{
    font-family: Arial;
    margin: 0;
    background-color: #ec964f81;
}

header{
    display: flex;
    justify-content: space-between;
    background: lightblue;
    padding: 20px;
}

nav{
    display: flex;
    gap: 10px;
}

nav a{
    text-decoration: none;
    color: black;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    background: white;
}

.card img{
    width: 100%;
}

footer{
    display: flex;
    justify-content: space-around;
    background: gray;
    padding: 20px;
}