.opiniones{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.reseña{
    width: 220px;
    border: 1px solid black;
    background: white;
    padding: 10px;
    text-align: center;
}